In [1]:
import pandas_datareader as pdr
import pandas as pd

from datetime import datetime, timedelta
import matplotlib.pyplot as plt

In [49]:
start_day = datetime(2002,4,16)
end_day = datetime.today()
end_day

datetime.datetime(2021, 9, 27, 1, 40, 11, 180002)

In [50]:
def get_price_data(x):
    df_price = pd.DataFrame(columns=x)

    for ticker in x:
        df_price[ticker] = pdr.get_data_yahoo(ticker, start_day - timedelta(days=365), end_day)["Adj Close"]

    return df_price

In [51]:
stock = ["SSO"]
bond = ["TMF"]
df_stock = get_price_data(stock)
df_bond = get_price_data(bond)

In [52]:
df_stock.head()

                  SSO
Date
2006-06-21  14.989108
2006-06-22  14.829781
2006-06-23  14.827684
2006-06-26  14.913635
2006-06-27  14.649490

In [53]:
df_bond.head()

                  TMF
Date
2009-04-16  11.191957
2009-04-17  10.691457
2009-04-20  11.340180
2009-04-21  10.997533
2009-04-22  10.622156

# 월별 데이터 조회

In [6]:
# 월별
df_stock_month = df_stock.resample(rule="1M").last()
df_bond_month = df_bond.resample(rule="1M").last()

In [7]:
# 월별 수익율
df_stock_month.pct_change()
df_bond_month.pct_change()

                 TMF
Date
2009-04-30       NaN
2009-05-31 -0.145649
2009-06-30  0.001428
2009-07-31  0.002890
2009-08-31  0.058358
...              ...
2021-05-31 -0.003413
2021-06-30  0.133745
2021-07-31  0.109180
2021-08-31 -0.013624
2021-09-30 -0.040933

[150 rows x 1 columns]

In [8]:
# 최근 12개월 월별 수익율
df_stock_12month = df_stock_month.pct_change().tail(12)
df_bond_12month = df_bond_month.pct_change().tail(12)

In [16]:
stock_12month_std = df_stock_12month.std().item()
bond_12month_std = df_bond_12month.std().item()
print("SSO 최근 12개월 월별 변동성: ", stock_12month_std)
print("TMT 최근 12개월 월별 변동성: ",bond_12month_std)

주식 최근 12개월 월별 변동성:  0.07388379389732931
채권 최근 12개월 월벌 변동성:  0.0984089821601608

In [185]:
stock_weight = 1 - (stock_12month_std / (stock_12month_std+bond_12month_std))
bond_weight = 1 - stock_weight

In [186]:
print(stock_weight, bond_weight)

0.5825896341093171 0.4174103658906829